body{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

p{ 
     text-align: center; 
     overflow: overlay;
     position: relative;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(248, 248, 248)
}

#toolbox_other{
    /*position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0.5em;
    margin-left: 10em;
    border: solid 1px #a39393;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 150px;
    border: none;
    padding: 2px 20px 2px 30px;
    z-index: 815;
    background-color: #e4e4e4;
}

#toolbox_other input{
    width: 22px;
    height: 20px;
    opacity: 0.4;
}
#toolbox_other input:hover{
    opacity: 1;
    cursor: pointer;
}


#toolbox{
    /*position: absolute;
    top: 6.5em;
    left: 1.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    border: solid 1px #a39393;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
    background:#FAFAFA;*/
        width: 150px;
    background-color: #fff;
    border: none;
    padding-top: 61px;
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100vh - 60px);
    overflow: auto;
    position: fixed;
    padding-top: 60px;
    top: 0;
    left: 0;
    min-height: 100%;
    z-index: 810;
}

#toolbox hr{margin: 5px 0px;}

#toolbox input{
    width: 30px;
    opacity: 0.4;
}
#toolbox input:hover{
    opacity: 1;
    cursor: pointer;
}

#hidden-file-upload{
    display: none;
}

#download-input{
    margin: 0 0.5em;
}

.conceptG text{
    pointer-events: none;
}

marker{
    fill: #333;
}

djs-element:hover{
    border: 1px solid red;
}

g.conceptG circle{
    fill: #F6FBFF;
    stroke: #333;
    stroke-width: 2px;
}

g.conceptG:hover circle{
    fill: rgb(200, 238, 241);
}

g.selected circle{
    fill: rgb(250, 232, 255);
}
g.selected:hover circle{
    fill: rgb(250, 232, 255);
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}

path.link:hover{
    stroke: rgb(94, 196, 204);
}

g.connect-node circle{
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}

path.link.selected {
    stroke: rgb(229, 172, 247);
}